body {
  background-color: #ffffff !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.icono-derecha {
  top: 20px;
  right: 25px;
  font-size: 2rem;
  color: #0d6efd;
}

.card {
  max-width: 500px;
  margin: 0 auto;
  border: none;
  border-radius: 15px;
  background-color: #ffffff !important;
}

.form-control:focus {
  border-color: #1212ff !important;
  box-shadow: 0 0 0 0.2rem rgba(36, 28, 255, 0.25) !important;
}

.btn-primary {
  border-radius: 10px !important;
  font-weight: 600 !important;
}

h2 {
  font-weight: 600 !important;
  color: #2216ff !important;
}