    body{
      background-color: rgba(215, 77, 77, 0.623);
    }
    h1,
    h2 {
        color: #130101;
        padding: 5px;
    }

    .header-titles{
        margin: 30px 0 20px;
    }
    .form-group label {
      display: block;
      margin-left: 5px;
      font-weight: bold;
    }

    .form-input {
      width: 100%;
      padding: 10px 0;
      border: 1px solid #4f37b8;
      border-radius: 4px;
    }

    .submit-button {
        margin-top: 10px;
      padding: 10px 50px;
      border-radius: 5px;
      background-color: #1bee53;
      color: #010000;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px
    }

    fieldset {
      border: 1px solid #c23232;
      border-radius: 5px;
      padding: 10px;
    }

    .submit-button:hover {
      background-color: #638fed;
      /* Azul claro al pasar el mouse */
    }

    .header h1 {
      color: #056d3f;
    }

    .form-group label {
      display: block;
      margin-left: 5px;
      font-weight: bold;
      color: #039c2c;
    }

    .form-input {
      width: 100%;
      padding: 10px 0;
      border: 1px solid #0b0b0b;
      border-radius: 4px;
      background-color: #c9c5c5;
      color: #170303;
    }

    .fieldset legend {
      color: #094a9a;
      font-weight: bold;
    }

    .label {
      color: #230101;
    }

    .footer p, footer a {
      color: #78013b;
    }
    
    .menu, footer {
      color: white;
      background-color: #af4c4c;
      overflow: hidden;
      /*margin: y x;*/
      margin: 20px 0;
      padding: 10px 0;
      /*margin: 50px 30px 10px 0;*/
      /*margin-top: 20px;*/
      /*margin-bottom: 20px;*/
      border-radius: 5px;
    }
    .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }
    .menu li {
      margin: 0 15px;
    }
    .menu a {
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      padding: 12px 15px;
      text-decoration: none;
      display: block;
    }
    .menu a:hover {
      background-color: #1a691d;
      border-radius: 4px;
    }

    #form-section {
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 5px;
        max-width: 500px;
        margin: 20px auto;
    }

    #video-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 20px auto;
    }
    
    #video-section iframe {
        max-width: 540px;
        border-radius: 10px;
    }

    footer {
      text-align: center;
      font-size: 14px;
      margin-bottom: 10px !important;
    }

    footer p {
        font-family: Arial, sans-serif
    }

    /*Aplica solo a los hijos directos*/
    footer > p {
        font-weight: bold;
    }

    footer a {
      text-decoration: none;
      color: springgreen;
    }

    h1 ~ p {
      font-style: Italic;
    }

    footer h1, footer p, footer h2 {
      margin: 8px 0;
    }

    h2 + div {
      background-color: #590707;
      padding: 5px;
    }